<div class="pt-3">
</div>

<div class="alert alert-primary pt-1 pb-1 body-sm">  
  <strong><%= portfolio.name %></strong> is currently raising capital! <u>Learn about investing.</u>
</div>

<p>
  <%= image_tag @portfolio.user.image_url, class: "rounded-circle mr-3", width: 50 %>
</p>

<p>
  <%= @portfolio.description %>
</p>