<div class="d-flex flex-row">

  <div class="col-md-8">
    <%= render 'shared/posts', portfolio: @portfolio %>
  </div>

  <div class="col-6 col-md-4">
    <%= render 'shared/leaderboards', portfolio: @portfolio %>
  </div>

</div>