<div class="d-flex flex-row"">

  <div class="p-3">
    <%= render 'shared/posts', portfolio: @portfolio %>
  </div>

  <div class="p-3">
    <%= render 'shared/leaderboards', portfolio: @portfolio %>
  </div>

</div>