<div class="text-center">
  <button type="button" class="btn btn-primary button-rounded" style="width: 100px" disabled>Invest</i></button>
  <div class="body-sm text-muted font-italic">Coming Soon!</div>
</div>