<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title discover-title"><%= link_to post.title, post %></h5>
    <h6 class="card-subtitle mb-2 text-muted dm-sans"><%= post.author.username %></h6>
    <p class="card-text dm-sans"><%= post.subtitle %></p>
    <div class="post-timestamp dm-sans float-right">
      <p>
        <%= time_ago_in_words(post.created_at) %> ago
      </p>
    </div>
  </div>
</div>