<h1 class="homepage-titles">Discover</h1>

<% @posts = Post.all %>


<div class="card-columns">
  <% @posts.order(:created_at).reverse.each do |post| %>
    <div>
      <%= render 'shared/post', post: post %>
    </div>
  <% end %>
</div>

<br>