<h2>
  The world is changing...
</h2>

<div>
  <p>
    The twin effects of <strong>web3</strong> and <strong>blockchain</strong> applications alongside a resurgence of the gig economy and artisanry make it clear - the people are taking back the power. The investment industry is no different. We imagine a future where the financial services market is free-flowing and transparent - where services are decentralized and individuals are empowered to compete with Wall Street institutions.
  </p>
  <p>
    PaperPro was built to <strong>democratize investing</strong> by providing a suite of tools for individuals to test strategies, document their investment ideas, and raise capital through low-cost investment club pools. We believe anyone should have the power to become an asset manager and start an investment business. 
  </p>
  <p>
    Our mission is to bring investment management to the public.
  </p>
</div>