<h2>
  The world is changing...
</h2>

<div>
  <p>
    Web3, blockchain, the gig economy - the trends are clear. Through technology global industries are opening up to individuals like never before, and the investment management industry will be no different. We imagine a future where the financial services market is free-flowing and transparent - where services are decentralized and individuals are empowered to compete with Wall Street institutions.
  </p>
  <p>
    PaperPro was built to <strong>democratize investing</strong> by providing a suite of tools for individuals to test strategies, document their investment ideas, and raise capital through low-cost investment club pools. We believe anyone should have the power to become an asset manager and start an investment management business. 
  </p>
  <p>
    Our mission is to bring investment management to the public.
  </p>
</div>